---
layout: default
title: Links
devels:
  - name: libRSvg
    url : https://gitlab.gnome.org/GNOME/librsvg/
  - name: Inkscape
    url : https://gitlab.com/inkscape/inkscape/
  - name: Moviepy
    url : https://github.com/Zulko/moviepy
  - name: Inkscape Extensions
    url : https://gitlab.com/inkscape/extensions/
  - name: MLT framework
    url : https://www.mltframework.org/docs/
apps:
  - name: FreeCAD
    url : https://www.freecad.org/
  - name: Inkscape
    url : https://gitlab.com/inkscape/inkscape/
  - name: Blender
    url : https://www.blender.org/
  - name: Avidemux
    url : https://avidemux.sourceforge.net/
  - name: Shotcut
    url : https://shotcut.org/
  - name: Glaxnimate
    url : https://glaxnimate.mattbas.org/
---

<h2>Projects</h2>

{% for item in page.devels %}
  <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
{% endfor %}
<hr/>

<h2>Apps</h2>

{% for item in page.apps %}
  <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
{% endfor %}
<hr/>
