---
layout: default
title: Links

links:
    - devels:
        - name: libRSvg
          url : https://gitlab.gnome.org/GNOME/librsvg
        - name: Inkscape
          url : https://gitlab.com/inkscape/inkscape
        - name: Moviepy
          url : https://github.com/Zulko/moviepy
links_devels:
    - name: libRSvg
      url : https://gitlab.gnome.org/GNOME/librsvg
    - name: Inkscape
      url : https://gitlab.com/inkscape/inkscape
    - name: Moviepy
      url : https://github.com/Zulko/moviepy  

---
<b>{{ page.links }}</b>
<b>{{ page.title }}</b>
  {% for item in page.links.devels %}
    0[<a href="{{ item.url }}">{{ item.name }}</a>]
  {% endfor %}
  {% for item in page.links %}
    1[<b>{{ item }}</b>]
  {% endfor %}

  {% for devels in page.links %}
    {% for item in devels %}
    A[<a href="{{ item.url }}">{{ item.name }}</a>]
    {% endfor %}
  {% endfor %}
  {% for item in page.links_devels %}
    0[<a href="{{ item.url }}">{{ item.name }}</a>]
  {% endfor %}

  