---
layout: default
title: Links
devels:
  - name: libRSvg
    url : https://gitlab.gnome.org/GNOME/librsvg/
  - name: Inkscape
    url : https://gitlab.com/inkscape/inkscape/
  - name: Moviepy
    url : https://github.com/Zulko/moviepy
  - name: Inkscape Extensions
    url : https://gitlab.com/inkscape/extensions/
  - name: MLT framework
    https://www.mltframework.org/docs/
apps:
  - name: FreeCAD
    url : https://www.freecad.org/
  - name: Inkscape
    url : https://gitlab.com/inkscape/inkscape/
  - name: Blender
    url : https://www.blender.org/
  - name: Avidemux
    url : https://avidemux.sourceforge.net/
  - name: Shotcut
    url : https://shotcut.org/
---

<b>{{ page.title }}</b>

<b>Projects</b>

{% for item in page.devels %}
  <a href="{{ item.url }}">{{ item.name }}</a>
{% endfor %}

<b>Apps</b>

{% for item in page.apps %}
  <a href="{{ item.url }}">{{ item.name }}</a>
{% endfor %}

